/* 
    GENERAL
*/
:root {
    --header-top-bg-color: #2C3D50; /* È lo stesso del footer bottom */
    --header-bottom-bg-color: #1ABC9C;
    --footer-top-bg-color: #39546D;
}

.grey-hamburger {
    color: #888888;
}

.avatar-container {
    width: 25%;
    margin: 0 auto;
}

/* 
    HEADER
*/
.header-top {
    background-color: var(--header-top-bg-color);
}

header .header-top ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header .header-top ul li {
    display: inline-block;
    padding: 0 6px;
}

.header-top a {
    text-decoration: none;
    color: white;
}

.box-header-top {
    padding: 16px 12px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#hamburger {
    padding: 4px;
    background-color: var(--header-top-bg-color);
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.box {
    border: 1px dashed black;
}

.header-bottom {
    background-color: var(--header-bottom-bg-color);
    color: white;
    padding: 24px 0;
}

.left-of-the-star, .right-of-the-star {
    width: 45%;
}

.line {
    width: 30%;
    height: 3px;
    background-color: white;
}

.star-container {
    width: 10%;
}

header .header-bottom ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header .header-bottom ul li {
    display: inline-block;
}

header .header-bottom a {
    text-decoration: none;
    color: white;
}

/* 
    MAIN
*/
#first-section {
    text-align: center;
}

#second-section {
    text-align: center;
}

#third-section {
    text-align: center;
}

/* 
    FOOTER
*/
.footer-bottom {
    text-align: center;
}


